:root {
	--primary-color: #2a2a2a;
	--secondary-color: #743e0d;
	--white-color: #f9f7f1;
	--green-color: #439c47;
	--transition-animation: all .5s;
  }

  body {
	font-family: 'Crimson Text', serif;
	font-size: 16px;
	color: var(--primary-color);
	background-color: var(--white-color);
	margin: 10px;
  }

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}